body {
    font-family:'Hind', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
}
  .flex-container{display: flex;
flex-direction: column;
  }

.userscenario img {
    float: left;
    width: 30%;
   
    max-width: 100%; 
    margin: 15px;/* Afbeeldingen responsive maken */
}

/* Voeg jouw css hieraan toe */